body{
    margin: 0px;
}

h2{
    color: blue;
}

h4{list-style: circle;
}
 


.nav-wrapper{
    display: flex;
    justify-content: space between;
    padding: 38px;
}

.left-side{
    display:flex;
}

nav-wrapper> .left-side> div {
   margin-right: 20px;
   font-size: 0.9em;
   text-transform: uppercase;
}

.nav-link-wrapper{
    height:22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
    columns: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;

}

.nav-link-wrapper:hover { 
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}
h4{
font-size: .05cm;
}

h2{
    font-size: .05cm;
}


h5{
    font-size: .05cm;
}

head {
    padding: 20px 50px;
    }

    main{ 
        list-style-type: square circle;
    }

    ul li:hover {
        background: #ddd;

        .header {
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 20px 10px;
          }


        